<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./assets/css/style.css">
    <title>Document</title>
</head>
<body>

<section class="container">

    <!--Tela de Login-->
    <div class="tela-login">
        <h4> Faça seu login</h4>
        <form action="/login/login" method="post">
            <input type="hidden" name="_csrf" value= csrfToken >

            <label>Seu Usuario</label><br>
            <input type="text" placeholder="Usuario" name="usuario"><br>

            <label>Sua senha</label><br>
            <input type="password" placeholder="Senha" name="password"> <br/>

            <button type= "submit" class="cadastro-button">Entrar</button>

        </form>
    </div>

    <div class="tela-login">

        <form action="/login/register" method="post">
            <input type="hidden" name="_csrf" value= csrfToken >

            <h4> Faça seu Cadastro</h4>



            <label>Usuário</label><br>
            <input type="text" name="usuario" placeholder="usuario" maxlength="10"><br>

            <label>E-mail</label><br>
            <input type="email" name="email" placeholder="email@email.com"><br>



            <button type= "submit" class="cadastro-button">Cadastrar</button>

        </form>
    </div>



</section>




<script src="/assets/js/bundle.js"></script>
</body>
</html>